@use "../../utilities/mixins" as mx;

body {
    background-color: var(--dark-gray);
}

section {
    width: 100%;
    padding: 25px 0;
    @include mx.for-size(md) {
        padding: 50px 0;

    }
    scroll-margin-top: 55px;
}


.container {
    width: 90%;
    max-width: 1250px;
    margin: 0 auto;
    box-sizing: border-box;
}

.title-section {
    background: linear-gradient(32deg, var(--secondary-clr--dark), var(--secondary-clr));
    // background-color: var(--secondary-clr--dark);
    padding: 2px 10px; border-radius: 6px;
    box-shadow: -2px 6px 12px rgba(0, 0, 0, 0.4);
}