@use "../../utilities/mixins" as mx;

body {
    background-color: var(--dark-gray);
}

section {
    width: 100%;
    padding: 25px 0;
    @include mx.for-size(md) {
        padding: 50px 0;

    }
    scroll-margin-top: 55px;
}


.container {
    width: 90%;
    max-width: 1250px;
    margin: 0 auto;
    box-sizing: border-box;
}

