@use "../../utilities/mixins" as mx;

.intro {
    margin-top: 60px;
    gap: 4em;
    @include mx.for-size(md) {
        margin-top: 90px;
    }
    max-height: 700px;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    & > .container {
        align-items: center;
        gap: 25px;
    }
    & > .container > * {
        flex: 1;
    }
    & > * {
        flex: 1;
    }
}

.intro-img {
    display: none;
    @include mx.for-size(md) {
        display: block;
    }
    animation: vibrate1 7s alternate infinite;
    max-width: 70%;
    min-width: 300px;
    margin: 0 auto;
    // animation: flipDiagonal2br 2.5s alternate infinite, flipDiagonal2Tl 5s alternate infinite;   
}

.intro-buttons {
    justify-content: start;
    gap: 2rem;
} 

.intro__ver-mais-container {
    display: none;
    @include mx.for-size(md) {
        display: flex;
    }
    justify-content: center;
    align-items: center;
    gap: 15px;
    color: var(--light-gray);
    transition: all 3s;
    &:hover {
        color: var(--secondary-clr);
    }
    & > a {
        transition: all 0.35s;
    }
    & > a:hover {
        // color: var(--secondary-clr);
        transform: scale(1.1);
    }
}

.ver-mais-icon {
    margin-left: 8px;
    animation: up_down 1s cubic-bezier(0.83, 0, 0.17, 1) infinite alternate;
}