@use "../../utilities/mixins" as mx;

.projetos {
    background: linear-gradient(155deg, var(--primary-clr) 30%, var(--primary-clr--dark), var(--primary-clr--darker));
    & > .container {
        & > .projetos-wrapper {
            display: grid; 
            gap: 50px;
            justify-items: center;
            grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
        }
    }
}

.projeto {
    background-color: var(--dark-gray);
    border-radius: 8px;
    
    margin: 0 auto;
    padding: 0;

    transition: all 0.3s;
    box-shadow: 2px 8px 26px #00000051;
    transform: translateY(-1px);
    &:hover {
        box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.498);
        transform: translateY(-12px);
    }
    & > p {
        color: var(--light-gray);
    }
}

.projeto__content {
    padding: 1.5em;
}

.projeto__tecnologias {
    margin-bottom: 2em;
    gap: 1em;
    padding-bottom: 2em;
    border-bottom: 2px solid var(--secondary-clr);
}

.projeto__buttons {
    justify-content: space-between;
    gap: 2em;
}

.ver-mais__btns {
    margin-top: 2em;
    flex-direction: column;
    gap: 2em;
}