.sobre {
    padding: 100px 0;
    background-color: var(--gray);
    & > .container {
        padding: 20px;
        gap: 30px;

        & > article {
            flex: 5 1 400px;
        }

        & > .profile-img {
            max-width: 300px;
            flex: 1 1 150px;
            margin: 0 auto;

        }
    }
}