@use "../utilities/mixins" as mx;

.btn {
    background: none;
    border: none;
    padding: 0.4em 1em;
    font-size: 1.8rem;
    color: white;
    cursor: pointer;
}

.btn--md {
    font-size: 2.25rem;
} 

.btn--lg {
    font-size: 2.75rem;
} 

.btn-clr--primary {
    background-color: var(--primary-clr) !important;
}

.btn-clr--secondary {
    background-color: var(--secondary-clr) !important;
}

.btn-clr--gray {
    background-color: var(--gray) !important;
    transition: background-color 0.5s ease, color 0.5s ease;
    &:hover {
        color: var(--gray);
        background-color: var(--white) !important;
    }
}

.btn-border {
    position: relative;
    border-radius: 8px;
    &::before {
        content: "";
        position: absolute;
        z-index: -1;
        inset: -2px;
        border-radius: 8px;
    }
} 

.btn--github {
    background-color: var(--gray);
    transition: all 0.3s;
    
    &::before {
        @include mx.move-color-btn(--github-clr, --primary-clr--dark, --github-clr--dark);
        animation: moveBackground 3s ease alternate infinite;
    }
    &:hover {
        @include mx.move-color-btn(--github-clr, --primary-clr--dark, --github-clr--dark);
         animation: moveBackground 3s ease alternate infinite;
    }
}

.btn--linkedin {
    background-color: var(--gray);
    transition: all 0.3s;
    &:hover {
        @include mx.move-color-btn(--linkedin-clr, --linkedin-clr--dark, --linkedin-clr--clear);
        animation: moveBackground 3s ease alternate infinite;
    }
    &::before {
        @include mx.move-color-btn(--linkedin-clr, --linkedin-clr--dark, --linkedin-clr--clear);
        animation: moveBackground 3s ease alternate infinite;
    }
}

.btn--live-view {
    background-color: var(--gray);
    transition: all 0.3s;
    
    &::before {
        @include mx.move-color-btn(--live-server-clr, --live-server-clr--dark, --live-server-clr--clear);
        animation: moveBackground 3s ease alternate infinite;
    }
    &:hover {
        @include mx.move-color-btn(--live-server-clr, --live-server-clr--dark, --live-server-clr--clear);
        animation: moveBackground 3s ease alternate infinite;
    }
}