.languages-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;

    & > a {
        min-width: 32px;
        min-height: 32px;
        max-width: 40px;
        max-height: 40px;
        cursor: pointer;

        display: flex;
        align-items: center;
    }
}