.tecnologia {
    padding: 0.5em 1em;
    color: var(--white);
    border-radius: 8px;
    font-size: 1.4rem;
    cursor: default;
    user-select: none;
}

.tecnologia--html {
    background-color: #b25b2c;
}
.tecnologia--js {
    background-color: #a8a61c;
}
.tecnologia--css {
    background-color: #1b66a3;
}
.tecnologia--sass {
    background-color: #be3474;
}
.tecnologia--api {
    background-color: #1f691a;
}

.tecnologia--bootstrap {
    background-color: #5a247d;
}