@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;700&display=swap');

:root {
    // --primary-font: 'Inter', sans-serif;
    --primary-font: 'Rubik', sans-serif;
    --secondary-font: 'Press Start 2P', cursive; 

    --primary-clr--clear: #642cdd;
    --primary-clr: #4C0BD9;
    --primary-clr--dark: #27076b;

    --primary-clr--darker: #200066;

    --secondary-clr: #30f10e;
    --secondary-clr--dark: #1f7510;

    --live-server-clr: #1aba1a;
    --live-server-clr--clear: #5df45d;
    --live-server-clr--dark: #096909;

    --github-clr: #9534b1;
    --github-clr--dark: #5b2b8b;

    --linkedin-clr--dark: #4390b9;
    --linkedin-clr: #005380;
    --linkedin-clr--clear: #50b8f0;

    --white: #ebebeb;
    --light-gray: #c0c0c0;

    --dark-gray: #1d1d1d;
    --gray: #272727;
}