@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

:root {
    --secondary-font: 'Press Start 2P', cursive; 

    --primary-clr: #8f00ff;
    --primary-clr--clear: #B75CFF;
    --primary-clr--dark: #5C00A3;
    --secondary-clr: #30f10e;

    --github-clr: #9534b1;
    --github-clr--dark: #5b2b8b;

    --linkedin-clr: #0078b9;
    --linkedin-clr--clear: #50b8f0;

    --white: #f4f4f4;

    --dark-gray: #202020;
    --gray: #2d2d2d;
}