html {
    font-size: 62.5%;
}

body {
    font-family: var(--primary-font);
    color: var(--white);
}

p, a, li {
    font-size: 1.6rem;
}

a {
    text-decoration: none;
    color: var(--white);
}

h1 {
    font-size: 3.5rem;
}

h2 {
    font-size: 3rem;
}

h3 {
    font-size: 2.15rem;
}

.italic {
    font-style: italic;
}

.uppercase {
    text-transform: uppercase;
}

.text-indent {
    text-indent: 1em;
}

.text-primary-clr {
    color: var(--primary-clr);

}
.text-secondary-clr {
    color: var(--secondary-clr);
}

.border-bottom--primary-clr {
    border-bottom: 2px solid var(--primary-clr);
}

.border-bottom--secondary-clr {
    border-bottom: 4px solid var(--secondary-clr);
}

.main-title {
    display: block;
    font-size: 2.25rem;
    line-height: 1.5;
    text-transform: uppercase;
}

.main-title::after {
    content: "";
}

.main-title__name {
    display: block;
    font-family: var(--secondary-font);
    font-size: 3.25rem;
    color: var(--secondary-clr);
    animation: trackingInExpand 2s, light_on_off 2.25s infinite alternate ease-in-out;
}

@keyframes light_on_off {
    from {
        text-shadow: 0px 0px 0px var(--secondary-clr);
    }
    to {
        text-shadow: 0px 0px 10px var(--secondary-clr);
    }
}

@keyframes trackingInExpand {
    0% {
      letter-spacing: -0.75em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      opacity: 1;
    }
  }