html {
    font-size: 62.5%;
}

body {
    font-family: var(--primary-font);
    color: var(--white);
}

p, a, li {
    font-size: 1.6rem;
    line-height: 1.4;
}

a {
    text-decoration: none;
    color: var(--white);

    // &:hover {
    //     text-decoration: underline;
    // }
}

h1 {
    font-size: 3.5rem;
}

h2 {
    font-size: 3rem;
}

h3 {
    font-size: 2.1rem;
}

.font-sz--sm {
    font-size: 1.3rem;
}

.font-sz--md {
    font-size: 1.6rem;
}

.font-sz--lg {
    font-size: 2.1rem;
}

.font-sz--xl {
    font-size: 2.5rem;
}

.italic {
    font-style: italic;
}

.uppercase {
    text-transform: uppercase;
}

.text-highlight {
    color: var(--secondary-clr);
    font-weight: 600;
}

.hover--underline {
    &:hover {
        text-decoration: underline;
    }
}

.text-indent {
    text-indent: 1em;
}

.text-primary-clr {
    color: var(--primary-clr);

}
.text-secondary-clr {
    color: var(--secondary-clr);
}

.text-clr--dark-gray {
    color: var(--dark-gray) !important;
}

.border-bottom--primary-clr {
    border-bottom: 2px solid var(--primary-clr);
}

.border-bottom--secondary-clr {
    border-bottom: 4px solid var(--secondary-clr);
}

.main-title {
    display: block;
    font-size: 2.25rem;
    line-height: 1.5;
    text-transform: uppercase;
    animation: trackingInExpand 3.5s ease;
}

.main-title::after {
    content: "";
}

.main-title__name {
    display: block;
    position: relative;
    max-width: 615px;
    font-family: var(--secondary-font);
    font-size: 3.25rem;
    color: var(--secondary-clr);
    animation: light_on_off 2.25s infinite alternate ease-in-out;
    &::after {
        content: "";
        display: inline-block;
        width: 10px;
        height: 1em;
        margin-left: 6px;
        background-color: var(--secondary-clr);
        animation: flicker 0.6s infinite alternate, light_on_off 2.25s infinite alternate ease-in-out;
        box-shadow: 0px 0px 10px var(--secondary-clr);
    }
}