@use "../utilities/mixins" as mx;

.footer {
    background-color: var(--primary-clr--dark);
    background: linear-gradient(208deg, var(--primary-clr), var(--primary-clr--dark));
    padding-bottom: 2em;
    @include mx.for-size(lg) {
      padding-bottom: 0em;
    }
    & > .container {
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
        @include mx.for-size(lg) {
          flex-direction: row;
        }
    }
}

.foooter__icons {
    align-items: center;
    gap: 1em;
    
    & > a {
        display: flex;
        align-items: center;
        cursor: pointer;

        
        &:hover {
            animation: shadowDropCenterText 0.75s infinite alternate;
            transform: rotate(-360deg);
            transition: transform 1s, color 2s, text-shadow 2.5s;
            color: var(--secondary-clr);
        }
    }
}