@use "../utilities/mixins" as mx;

header {
    position: fixed;
    top: 0;
    width: 100%;
    border-bottom: none;
    background: linear-gradient(340deg, var(--primary-clr), var(--primary-clr--darker));
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.383);
    z-index: 100;
    transition: all 0.5s;
}

.header-lg {
    padding: 10px 0;
    border-bottom: 3px solid var(--secondary-clr);
    @include mx.for-size(md) {
        padding: 25px 0;
    }
}

.header-content {
    max-height: 55px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2em;
}

.open-nav-btn {
    display: block;
    cursor: pointer;
    @include mx.for-size(md) {
        display: none;
    }
    background-color: transparent;
    border: none;
    color: var(--white);
}

.header-list {
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
    padding: 0;
    background-color: var(--dark-gray);   
    border-radius: 0 0 0 8px;
    border-bottom: 2px solid var(--secondary-clr);
    
    list-style: none;
    opacity: 1;
    transition: transform 0.75s;
    transform: translateX(100%);

    & > li {
        text-align: center;
    }
    
    @include mx.for-size(md) {
        position: static;
        display: flex;
        align-items: center;
        background-color: inherit;   
        border-bottom: none;
        transform: translateX(0%);
    }
    
    @include mx.for-size(lg) {
        gap: 3em;
    }
}

.header-list--smartphone {
    @include mx.for-size(md, "max") {
        transform: translateX(0%);
    }
}

.header-list-item {
    padding: 0.5em;
    margin: 1em 2em;
    font-weight: 700;
    text-transform: uppercase;
    
    @include mx.for-size(md) {
        margin: 0;
    }
}

.header-list-link {
    position: relative;
    &::after {
        background-color: var(--secondary-clr);
        content: "";
        display: block;
        position: absolute;
        top: 110%;
        left: 0;
        height: 5px;
        width: 100%;
        border-radius: 0 0 16px 16px;
        opacity: 0;
        transition: all 0.4s;
        transform: translateX(150%);
    }
    &:hover {
        color: #ffffff;

        &::after {
            box-shadow: 0 0 20px var(--secondary-clr);
            opacity: 1;
            transform: translateX(0%);
        }
    }
}