.gradient {
    background: linear-gradient(120deg, #3C4CDE, #514FBC, #32E875);
    /* background-color: red; */
    background-image: linear-gradient(
  55deg,
  hsl(240deg 100% 20%) 0%,
  hsl(289deg 100% 21%) 11%,
  hsl(315deg 100% 27%) 22%,
  hsl(329deg 100% 36%) 33%,
  hsl(337deg 100% 43%) 44%,
  hsl(357deg 91% 59%) 56%,
  hsl(17deg 100% 59%) 67%,
  hsl(34deg 100% 53%) 78%,
  hsl(45deg 100% 50%) 89%,
  hsl(55deg 100% 50%) 100%
);
background-image: linear-gradient(to right top, #13315c, #413673, #74347f, #a6287b, #d21868, #e92d55, #f94a3e, #ff6a20, #ff8e00, #ffb100, #fed400, #f0f600);
}