@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&family=Merriweather:ital,wght@0,700;0,900;1,700;1,900&display=swap');

html {
    scroll-behavior: smooth;
    scroll-padding-top: 16px;

}

body {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
}

::selection {
  background-color: #ECD444;
  color: #00162B;
}


::-webkit-scrollbar {
  width: 10px;
  scrollbar-width: thin;
  scrollbar-color: #d1d5db #f3f4f6;
}

::-webkit-scrollbar-thumb {
  background-color: #b1b1b1;
  border-radius: 12px;
}

::-webkit-scrollbar-track {
  background-color: #545454;
}

* img,
* img:focus,
* img:active,
* a,
* a:focus,
* a:active,
* span,
* span:focus,
* span:active,
* button,
* button:focus,
* button:active,
* .tap-highlight-color--desabled,
* .tap-highlight-color--desabled:focus,
* .tap-highlight-color--desabled:active {
  -webkit-tap-highlight-color: transparent;
}