@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;700&display=swap");
:root {
  --primary-font: "Rubik", sans-serif;
  --secondary-font: "Press Start 2P", cursive;
  --primary-clr--clear: #B75CFF;
  --primary-clr: #8f00ff;
  --primary-clr--dark: #5C00A3;
  --primary-clr--darker: #4b0084;
  --secondary-clr: #30f10e;
  --secondary-clr--dark: #1f7510;
  --live-server-clr: #1aba1a;
  --live-server-clr--clear: #5df45d;
  --live-server-clr--dark: #096909;
  --github-clr: #9534b1;
  --github-clr--dark: #5b2b8b;
  --linkedin-clr--dark: #4390b9;
  --linkedin-clr: #005380;
  --linkedin-clr--clear: #50b8f0;
  --white: #ebebeb;
  --light-gray: #c0c0c0;
  --dark-gray: #1d1d1d;
  --gray: #272727;
}

.d-flex {
  display: flex;
  flex-wrap: wrap;
}

.d-block {
  display: block;
}

.d-none {
  display: block;
}

.opacity-0 {
  opacity: 0;
}

.d-none {
  display: none;
}

.translateX-100 {
  transform: translateX(100%);
}

.center {
  display: block;
  margin: 0 auto;
}

@-webkit-keyframes vibrate1 {
  0% {
    transform: translate(0);
  }
  20% {
    transform: translate(-20px, 20px);
  }
  40% {
    transform: translate(-10px, -10px);
  }
  80% {
    transform: translate(20px, 20px);
  }
  100% {
    transform: translate(10px, -10px);
  }
  100% {
    transform: translate(0);
  }
}

@keyframes vibrate1 {
  0% {
    transform: translate(0);
  }
  20% {
    transform: translate(-20px, 20px);
  }
  40% {
    transform: translate(-10px, -10px);
  }
  80% {
    transform: translate(20px, 20px);
  }
  100% {
    transform: translate(10px, -10px);
  }
  100% {
    transform: translate(0);
  }
}
@-webkit-keyframes flipDiagonal2Tl {
  0% {
    transform: rotate3d(-1, 1, 0, 0deg);
  }
  100% {
    transform: rotate3d(-1, 1, 0, -180deg);
  }
}
@keyframes flipDiagonal2Tl {
  0% {
    transform: rotate3d(-1, 1, 0, 0deg);
  }
  100% {
    transform: rotate3d(-1, 1, 0, -180deg);
  }
}
@-webkit-keyframes flipDiagonal2br {
  0% {
    transform: rotate3d(-1, 1, 0, 0deg);
  }
  100% {
    transform: rotate3d(-1, 1, 0, 180deg);
  }
}
@keyframes flipDiagonal2br {
  0% {
    transform: rotate3d(-1, 1, 0, 0deg);
  }
  100% {
    transform: rotate3d(-1, 1, 0, 180deg);
  }
}
@-webkit-keyframes moveBackground {
  from {
    background-position: 0 50%;
  }
  to {
    background-position: 100% 50%;
  }
}
@keyframes moveBackground {
  from {
    background-position: 0 50%;
  }
  to {
    background-position: 100% 50%;
  }
}
@-webkit-keyframes up_down {
  from {
    transform: translateY(-5px);
    opacity: 0.1;
  }
  to {
    transform: translateY(5px);
    opacity: 1;
  }
}
@keyframes up_down {
  from {
    transform: translateY(-5px);
    opacity: 0.1;
  }
  to {
    transform: translateY(5px);
    opacity: 1;
  }
}
@-webkit-keyframes shadowDropCenter {
  0% {
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
  100% {
    box-shadow: 0px 0px 10px var(--secondary-clr);
  }
}
@keyframes shadowDropCenter {
  0% {
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
  100% {
    box-shadow: 0px 0px 10px var(--secondary-clr);
  }
}
@-webkit-keyframes shadowDropCenterText {
  0% {
    text-shadow: 0 0 2px 2px rgba(0, 0, 0, 0);
  }
  100% {
    text-shadow: 0px 0px 16px var(--secondary-clr);
  }
}
@keyframes shadowDropCenterText {
  0% {
    text-shadow: 0 0 2px 2px rgba(0, 0, 0, 0);
  }
  100% {
    text-shadow: 0px 0px 16px var(--secondary-clr);
  }
}
@-webkit-keyframes flicker {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes flicker {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes light_on_off {
  from {
    text-shadow: 0px 0px 0px var(--secondary-clr);
  }
  to {
    text-shadow: 0px 0px 10px var(--secondary-clr);
  }
}
@keyframes light_on_off {
  from {
    text-shadow: 0px 0px 0px var(--secondary-clr);
  }
  to {
    text-shadow: 0px 0px 10px var(--secondary-clr);
  }
}
@-webkit-keyframes trackingInExpand {
  0% {
    letter-spacing: -0.75em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
@keyframes trackingInExpand {
  0% {
    letter-spacing: -0.75em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes flipHorizontalBottom {
  0% {
    transform: rotateX(0);
  }
  100% {
    transform: rotateX(-180deg);
  }
}
@keyframes flipHorizontalBottom {
  0% {
    transform: rotateX(0);
  }
  100% {
    transform: rotateX(-180deg);
  }
}
@-webkit-keyframes up_to_down {
  from {
    transform: translateY(-1000%);
  }
  to {
    transform: translateY(0%);
  }
}
@keyframes up_to_down {
  from {
    transform: translateY(-1000%);
  }
  to {
    transform: translateY(0%);
  }
}
/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input { /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select { /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type=checkbox],
[type=radio] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

html {
  scroll-behavior: smooth;
}

img {
  width: 100%;
}

ul {
  margin: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: var(--primary-font);
  color: var(--white);
}

p, a, li {
  font-size: 1.6rem;
  line-height: 1.4;
}

a {
  text-decoration: none;
  color: var(--white);
}

h1 {
  font-size: 3.5rem;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2.1rem;
}

.font-sz--sm {
  font-size: 1.3rem;
}

.font-sz--md {
  font-size: 1.6rem;
}

.font-sz--lg {
  font-size: 2.1rem;
}

.font-sz--xl {
  font-size: 2.5rem;
}

.italic {
  font-style: italic;
}

.uppercase {
  text-transform: uppercase;
}

.text-highlight {
  color: var(--secondary-clr);
  font-weight: 600;
}

.hover--underline:hover {
  text-decoration: underline;
}

.text-indent {
  text-indent: 1em;
}

.text-primary-clr {
  color: var(--primary-clr);
}

.text-secondary-clr {
  color: var(--secondary-clr);
}

.text-clr--dark-gray {
  color: var(--dark-gray) !important;
}

.border-bottom--primary-clr {
  border-bottom: 2px solid var(--primary-clr);
}

.border-bottom--secondary-clr {
  border-bottom: 4px solid var(--secondary-clr);
}

.main-title {
  display: block;
  font-size: 2.25rem;
  line-height: 1.5;
  text-transform: uppercase;
  -webkit-animation: trackingInExpand 3.5s ease;
          animation: trackingInExpand 3.5s ease;
}

.main-title::after {
  content: "";
}

.main-title__name {
  display: block;
  position: relative;
  max-width: 615px;
  font-family: var(--secondary-font);
  font-size: 3.25rem;
  color: var(--secondary-clr);
  -webkit-animation: light_on_off 2.25s infinite alternate ease-in-out;
          animation: light_on_off 2.25s infinite alternate ease-in-out;
}
.main-title__name::after {
  content: "";
  display: inline-block;
  width: 10px;
  height: 1em;
  margin-left: 6px;
  background-color: var(--secondary-clr);
  -webkit-animation: flicker 0.6s infinite alternate, light_on_off 2.25s infinite alternate ease-in-out;
          animation: flicker 0.6s infinite alternate, light_on_off 2.25s infinite alternate ease-in-out;
  box-shadow: 0px 0px 10px var(--secondary-clr);
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  border-bottom: 3px solid var(--secondary-clr);
  opacity: 0.99;
  background: linear-gradient(145deg, var(--primary-clr), var(--primary-clr--dark));
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.383);
  z-index: 100;
  transition: all 0.5s;
}

.header-lg {
  padding: 10px 0;
}
@media (min-width: 768px) {
  .header-lg {
    padding: 25px 0;
  }
}

.header-content {
  max-height: 55px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2em;
}

.open-nav-btn {
  display: block;
  cursor: pointer;
  background-color: transparent;
  border: none;
  color: var(--white);
}
@media (min-width: 768px) {
  .open-nav-btn {
    display: none;
  }
}

.header-list {
  position: absolute;
  left: 0;
  top: 100%;
  width: 100%;
  padding: 0;
  background-color: var(--dark-gray);
  border-radius: 0 0 0 8px;
  border-bottom: 2px solid var(--secondary-clr);
  list-style: none;
  opacity: 1;
  transition: transform 0.75s;
  transform: translateX(100%);
}
.header-list > li {
  text-align: center;
}
@media (min-width: 768px) {
  .header-list {
    position: static;
    display: flex;
    align-items: center;
    background-color: inherit;
    border-bottom: none;
    transform: translateX(0%);
  }
}
@media (min-width: 992px) {
  .header-list {
    gap: 3em;
  }
}

@media (max-width: 768px) {
  .header-list--smartphone {
    transform: translateX(0%);
  }
}

.header-list-item {
  padding: 0.5em;
  margin: 1em 2em;
  font-weight: 700;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .header-list-item {
    margin: 0;
  }
}

.header-list-link {
  position: relative;
}
.header-list-link::after {
  background-color: var(--secondary-clr);
  content: "";
  display: block;
  position: absolute;
  top: 110%;
  left: 0;
  height: 5px;
  width: 100%;
  border-radius: 0 0 16px 16px;
  opacity: 0;
  transition: all 0.4s;
  transform: translateX(150%);
}
.header-list-link:hover {
  color: #ffffff;
}
.header-list-link:hover::after {
  box-shadow: 0 0 20px var(--secondary-clr);
  opacity: 1;
  transform: translateX(0%);
}

.footer {
  background-color: var(--primary-clr--dark);
  background: linear-gradient(to bottom, var(--primary-clr), var(--primary-clr--dark));
  padding-bottom: 2em;
}
@media (min-width: 992px) {
  .footer {
    padding-bottom: 0em;
  }
}
.footer > .container {
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}
@media (min-width: 992px) {
  .footer > .container {
    flex-direction: row;
  }
}

.foooter__icons {
  align-items: center;
  gap: 1em;
}
.foooter__icons > a {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.foooter__icons > a:hover {
  -webkit-animation: shadowDropCenterText 0.75s infinite alternate;
          animation: shadowDropCenterText 0.75s infinite alternate;
  transform: rotate(-360deg);
  transition: transform 1s, color 2s, text-shadow 2.5s;
  color: var(--secondary-clr);
}

body {
  background-color: var(--dark-gray);
}

section {
  width: 100%;
  padding: 25px 0;
  scroll-margin-top: 55px;
}
@media (min-width: 768px) {
  section {
    padding: 50px 0;
  }
}

.container {
  width: 90%;
  max-width: 1250px;
  margin: 0 auto;
  box-sizing: border-box;
}

.intro {
  margin-top: 60px;
  max-height: 700px;
  flex-direction: column;
  justify-content: space-between;
}
@media (min-width: 768px) {
  .intro {
    height: 70vh;
    margin-top: 90px;
  }
}
.intro > .container {
  align-items: center;
  gap: 25px;
}
.intro > .container > * {
  flex: 1;
}

.intro-img {
  display: none;
  -webkit-animation: vibrate1 7s alternate infinite;
          animation: vibrate1 7s alternate infinite;
  max-width: 70%;
  min-width: 300px;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .intro-img {
    display: block;
  }
}

.intro-buttons {
  justify-content: start;
  gap: 2rem;
}

.intro__ver-mais-container {
  display: none;
  justify-content: center;
  align-items: center;
  gap: 15px;
  color: var(--light-gray);
  transition: all 3s;
}
@media (min-width: 768px) {
  .intro__ver-mais-container {
    display: flex;
  }
}
.intro__ver-mais-container:hover {
  color: var(--secondary-clr);
}
.intro__ver-mais-container > a {
  transition: all 0.35s;
}
.intro__ver-mais-container > a:hover {
  transform: scale(1.1);
}

.ver-mais-icon {
  margin-left: 8px;
  -webkit-animation: up_down 1s cubic-bezier(0.83, 0, 0.17, 1) infinite alternate;
          animation: up_down 1s cubic-bezier(0.83, 0, 0.17, 1) infinite alternate;
}

.sobre {
  padding: 50px 0;
  background-color: var(--gray);
}
@media (min-width: 768px) {
  .sobre {
    padding: 100px 0;
  }
}
.sobre > .container {
  padding: 20px;
  gap: 30px;
}
.sobre > .container > article {
  flex: 5 1 400px;
}
.sobre > .container > .profile-img {
  max-width: 300px;
  flex: 1 1 150px;
  margin: 0 auto;
}

.projetos {
  background: linear-gradient(155deg, var(--primary-clr) 30%, var(--primary-clr--dark), var(--primary-clr--darker));
}
.projetos > .container > .projetos-wrapper {
  display: grid;
  gap: 50px;
  justify-items: center;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
}

.projeto {
  background-color: var(--dark-gray);
  border-radius: 8px;
  margin: 0 auto;
  padding: 0;
  transition: all 0.3s;
  box-shadow: 2px 8px 26px rgba(0, 0, 0, 0.3176470588);
  transform: translateY(-1px);
}
.projeto:hover {
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.498);
  transform: translateY(-12px);
}
.projeto > p {
  color: var(--light-gray);
}

.projeto__content {
  padding: 1.5em;
}

.projeto__tecnologias {
  margin-bottom: 2em;
  gap: 1em;
  padding-bottom: 2em;
  border-bottom: 2px solid var(--secondary-clr);
}

.projeto__buttons {
  justify-content: space-between;
  gap: 2em;
}

.ver-mais__btns {
  margin-top: 2em;
  flex-direction: column;
  gap: 2em;
}

.habilidades {
  background-color: var(--gray);
}

.habilidades__tecnologias {
  flex-wrap: wrap;
  gap: 5%;
}
.habilidades__tecnologias > * {
  flex: 1;
  min-width: 280px;
}

.tecnologias-icons {
  gap: 1em;
  justify-content: space-around;
  align-items: baseline;
}
@media (min-width: 768px) {
  .tecnologias-icons {
    gap: 2em;
    justify-content: start;
  }
}

.tecnologias-desc {
  scroll-margin-top: 60px;
  margin-top: 30px;
  background-color: var(--dark-gray);
  padding: 0.75em;
  border-radius: 8px;
}
@media (min-width: 576px) {
  .tecnologias-desc {
    padding: 2em;
  }
}
@media (min-width: 768px) {
  .tecnologias-desc {
    margin-top: 0px;
  }
}

[data-tech-desc] {
  transition: opacity 0.6s;
}

.tecnologia-icon {
  max-width: 100px;
  flex: 1 1 100px;
  padding: 10px;
  border: 4px solid var(--white);
  border-radius: 8px;
  background-color: var(--white);
  cursor: pointer;
  transition: all 0.5s;
}
.tecnologia-icon:hover {
  -webkit-animation: shadowDropCenter 0.75s infinite alternate;
          animation: shadowDropCenter 0.75s infinite alternate;
  transform: scale(1.1);
}

.btn {
  background: none;
  border: none;
  padding: 0.4em 1em;
  font-size: 1.8rem;
  color: white;
  cursor: pointer;
}

.btn--md {
  font-size: 2.25rem;
}

.btn--lg {
  font-size: 2.75rem;
}

.btn-clr--primary {
  background-color: var(--primary-clr) !important;
}

.btn-clr--secondary {
  background-color: var(--secondary-clr) !important;
}

.btn-clr--gray {
  background-color: var(--gray) !important;
  transition: background-color 0.5s ease, color 0.5s ease;
}
.btn-clr--gray:hover {
  color: var(--gray);
  background-color: var(--white) !important;
}

.btn-border {
  position: relative;
  border-radius: 8px;
}
.btn-border::before {
  content: "";
  position: absolute;
  z-index: -1;
  inset: -2px;
  border-radius: 8px;
}

.btn--github {
  background-color: var(--gray);
  transition: all 0.3s;
}
.btn--github::before {
  background: linear-gradient(to left, var(--github-clr), var(--primary-clr--dark), var(--github-clr--dark)) no-repeat;
  background-size: 200%;
  -webkit-animation: background 3s ease alternate infinite;
          animation: background 3s ease alternate infinite;
  -webkit-animation: moveBackground 3s ease alternate infinite;
          animation: moveBackground 3s ease alternate infinite;
}
.btn--github:hover {
  background: linear-gradient(to left, var(--github-clr), var(--primary-clr--dark), var(--github-clr--dark)) no-repeat;
  background-size: 200%;
  -webkit-animation: background 3s ease alternate infinite;
          animation: background 3s ease alternate infinite;
  -webkit-animation: moveBackground 3s ease alternate infinite;
          animation: moveBackground 3s ease alternate infinite;
}

.btn--linkedin {
  background-color: var(--gray);
  transition: all 0.3s;
}
.btn--linkedin:hover {
  background: linear-gradient(to left, var(--linkedin-clr), var(--linkedin-clr--dark), var(--linkedin-clr--clear)) no-repeat;
  background-size: 200%;
  -webkit-animation: background 3s ease alternate infinite;
          animation: background 3s ease alternate infinite;
  -webkit-animation: moveBackground 3s ease alternate infinite;
          animation: moveBackground 3s ease alternate infinite;
}
.btn--linkedin::before {
  background: linear-gradient(to left, var(--linkedin-clr), var(--linkedin-clr--dark), var(--linkedin-clr--clear)) no-repeat;
  background-size: 200%;
  -webkit-animation: background 3s ease alternate infinite;
          animation: background 3s ease alternate infinite;
  -webkit-animation: moveBackground 3s ease alternate infinite;
          animation: moveBackground 3s ease alternate infinite;
}

.btn--live-view {
  background-color: var(--gray);
  transition: all 0.3s;
}
.btn--live-view::before {
  background: linear-gradient(to left, var(--live-server-clr), var(--live-server-clr--dark), var(--live-server-clr--clear)) no-repeat;
  background-size: 200%;
  -webkit-animation: background 3s ease alternate infinite;
          animation: background 3s ease alternate infinite;
  -webkit-animation: moveBackground 3s ease alternate infinite;
          animation: moveBackground 3s ease alternate infinite;
}
.btn--live-view:hover {
  background: linear-gradient(to left, var(--live-server-clr), var(--live-server-clr--dark), var(--live-server-clr--clear)) no-repeat;
  background-size: 200%;
  -webkit-animation: background 3s ease alternate infinite;
          animation: background 3s ease alternate infinite;
  -webkit-animation: moveBackground 3s ease alternate infinite;
          animation: moveBackground 3s ease alternate infinite;
}

.tecnologia {
  padding: 0.5em 1em;
  color: var(--white);
  border-radius: 8px;
  font-size: 1.4rem;
  cursor: default;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.tecnologia--html {
  background-color: #b25b2c;
}

.tecnologia--js {
  background-color: #a8a61c;
}

.tecnologia--css {
  background-color: #1b66a3;
}

.tecnologia--sass {
  background-color: #be3474;
}

.tecnologia--api {
  background-color: #1f691a;
}

.tecnologia--bootstrap {
  background-color: #5a247d;
}

.img-container {
  overflow: hidden;
}

.img-border--bottom {
  border-bottom: 2px solid;
}

.img-container-bordered--top {
  border-radius: 8px 8px 0 0;
}

.img-border-clr--primary {
  border-color: var(--primary-clr) !important;
}

.img-border-clr--secondary {
  border-color: var(--secondary-clr) !important;
}

.img-border--dashed {
  border: 2px dashed;
}

.img-zoom > img {
  transition: transform 0.9s ease-out;
}
.img-zoom > img:hover {
  transform: scale(1.15);
  opacity: 1;
}

.languages-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
}
.languages-icons > a {
  min-width: 32px;
  min-height: 32px;
  max-width: 40px;
  max-height: 40px;
  cursor: pointer;
  display: flex;
  align-items: center;
}/*# sourceMappingURL=style.css.map */